nav > ul {
    background-color: rgb(221, 221, 221);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 5px;
    margin: 0 8px;
    border: 1px solid red;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 8px 1px black;
}
.active {
    color: red;
}

a {
    margin-right: 5px;
    text-decoration: none;
}