.navigation > ul {
    background-color: rgb(221, 221, 221);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 5px;
    margin: 0 8px;
    border: 1px solid red;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 8px 1px black;
}
.active {
    color: red;
}

.navigation ul> a {
    margin-right: 5px;
    text-decoration: none;
}

button {
    margin-right: 5px;
    background-color: rgb(200, 200, 252);
    border: 1px solid blue;
    color: blue;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(174, 174, 245);
    color: red;
}

@media (max-width:540px) {
    .navigation > ul {
        width: calc(100% - 27px);
        display: flex;
        justify-content: space-between;
    }
}